body {
    margin: 0;
    background: #0f0f0f;
    color: white;
    font-family: Arial;
}

.container {
    display: flex;
}

.video-section {
    width: 70%;
    padding: 20px;
}

video {
    width: 100%;
    background: black;
    min-height: 300px;
    border-radius: 10px;
}

.live {
    background: red;
    padding: 6px 12px;
    border-radius: 6px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

/* glowing dot */
.dot {
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    animation: livePulse 1s infinite;
}

@keyframes livePulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.6);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.chat-section {
    border-left: 1px solid #333;
}

input {
    border-radius: 6px;
    border: none;
    padding: 8px;
}

button {
    border-radius: 6px;
    cursor: pointer;
}
#chatBox {
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

input {
    width: 70%;
    padding: 8px;
}

button {
    padding: 8px;
    background: red;
    color: white;
    border: none;
}

.buffer {
    color: yellow;
    font-size: 14px;
    margin-top: 5px;
}

/* Mobile */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .video-section, .chat-section {
        width: 100%;
    }
}